<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="domain" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="Temp_domain" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  <section name="CollinsDictionary" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
 
  <appSettings> 
    <add key="AJCMS_CONFIG_FOLDER" value="C:\OryxV4config\AJE\Lib"/>
    <add key="AJCMS_CONFIG_FILE" value="LIB.CFG"/>

    <add key="DefaultDictionary" value="en-Collins"/> <!--Values are en-GB , en-US, en-Collins ////// default is en-GB -->
    <add key="SearchPattern" value="[0-9a-z']+"/>
  </appSettings>

  <domain>
    <add key="domain" value=""/> 
    <add key="uid" value="ajcmsadmin"/> 
    <add key="pwd" value="jIkc2CE1zAy2RUp1JpTJhQ=="/>
  </domain>
  <Temp_domain>
    <add key="domain" value="ajnweb"/>
    <add key="uid" value="oryxadmin"/>
    <add key="pwd" value="pNpeVuu6Ij2NgiQLWlQGww=="/> 
  </Temp_domain>
   <CollinsDictionary>
    <add key="baseURL" value="https://api.collinsdictionary.com"/>
    <add key="accessKey" value="wDrAuSB0QaBFLXUnibm0aCNpPv4SrZoJ7saWiwtxeZAvbZzpCQorLnrlHAxm2wva"/>
    <add key="dictionaryCode" value="english"/> 
  </CollinsDictionary>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
 
</configuration>
